################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpoilerViewerApplication/.classpath
/SpoilerViewerApplication/.project
/SpoilerViewerMod/.vs
/SpoilerViewerApplication/.settings
/SpoilerViewerMod/SpoilerViewerMod/hkspoilerviewer.jar
/SpoilerViewerApplication.jar
